source https://www.nuget.org/api/v2
nuget FSharp.Core
nuget Xamarin.Forms 3.0.0.482510 framework: MonoAndroid8.1,netstandard2.0,xamarinios
nuget Xamarin.Android.FSharp.ResourceProvider framework:monoandroid8.1